:root {
    --clr-Very-dark-blue: hsl(233, 47%, 7%);
    /*(main background)*/
    --clr-Dark-desaturated-blue: hsl(244, 38%, 16%);
    /*(card background)*/
    --clr-Soft-violet: hsl(277, 64%, 61%);
    /*(accent)*/

    --clr-White: hsl(0, 0%, 100%);
    /*(main heading, stats)*/
    --clr-Slightly-transparent-white: hsla(0, 0%, 100%, 0.75);
    /*(main paragraph)*/
    --clr-Transparent-white: hsla(0, 0%, 100%, 0.6);
    /*(stat headings)*/

    --font-Inter: 'Inter', sans-serif;
    --font-Lexend-Deca: 'Lexend Deca', sans-serif;

    --font-size-200: 0.8rem;
    --font-size-300: 0.95rem;
    --font-size-500: 1.6rem;
    --font-size-600: var(--font-size-500);

    --space-btm-300: 0.5rem;
    --space-gap-500: 1.5rem;
    --space-gap-600: 2rem;
}

body {
    background-color: var(--clr-Very-dark-blue);
    font-family: var(--font-Inter);
    color: var(--clr-White);
}

main {
    max-width: 1440px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: calc(100vh - 4rem);
}

.desktop-img {
    display: none;
    mix-blend-mode: multiply;
}

.mobile-img {
    display: block;
    margin: auto;
    mix-blend-mode: multiply;
}

.images-container {
    background-color: var(--clr-Soft-violet);
}

.most-top-container {
    background-color: var(--clr-Dark-desaturated-blue);
    margin: 5rem 1.5rem;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    gap: 2rem;
    border-radius: 10px;
    overflow: hidden;
    max-width: 40rem;
}

.bottom-section {
    padding: 0 2rem 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    gap: 2rem;
}

h1 {
    text-align: center;
    font-size: var(--font-size-500);
    font-weight: bold;
    margin-bottom: 1rem;
}

h1 span {
    color: var(--clr-Soft-violet);
}

.short-brief {
    text-align: center;
    font-size: var(--font-size-300);
    color: var(--clr-Slightly-transparent-white);
    line-height: 1.6;
}

.product-details {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    gap: var(--space-gap-500);
}

.count {
    font-size: var(--font-size-600);
    font-weight: bold;
    margin-bottom: var(--space-btm-300);
}

.product {
    text-transform: uppercase;
    letter-spacing: 1px;
    color: var(--clr-Transparent-white);
    font-size: var(--font-size-200);
}

.attribution {
    --fs-attb: 14px;
    font-size: var(--fs-attb);
    padding: 0.3rem 0.5rem;
    color: var(--clr-Very-Dark-Magenta);
    border-left: 2px solid var(--clr-Soft-violet);
    border-right: 2px solid var(--clr-Soft-violet);
    border-radius: 10px;
    margin: 1rem auto;
    display: inline-block;
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);

}

.attribution a {
    color: var(--clr-Soft-violet);
    -webkit-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease;
    text-decoration: none;
    font-size: calc(var(--fs-attb) + 4px);
}

.attribution a:hover {
    color: hsl(277, 64%, 80%);
    text-decoration: underline;
}


@media (min-width: 30em) {
    .product-details {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
    }
}


@media (min-width: 50em) {
    :root {
        --font-size-200: 1rem;
        --font-size-300: 1.2rem;
        --font-size-500: 2.5rem;
        --font-size-600: 2rem;

        --space-btm-300: 0.5rem;
        --space-gap-500: 3rem;
    }

    .mobile-img {
        display: none;
    }

    .desktop-img {
        display: block;
        margin: auto;
        -o-object-fit: cover;
        object-fit: cover;
        -o-object-position: center;
        object-position: center;
        width: 100%;
        height: 100%;
    }

    .images-container {
        -ms-grid-column: 2;
        -ms-grid-column-span: 1;
        grid-column: 2 / 3;
        -ms-grid-row: 1;
        -ms-grid-row-span: 1;
        grid-row: 1/2;
    }

    .bottom-section {
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
        grid-column: 1/2;
        -ms-grid-row: 1;
        -ms-grid-row-span: 1;
        grid-row: 1/2;
        padding: 4rem;
    }

    .most-top-container {
        max-width: 70rem;
        -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    }

    .product-details {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        text-align: left;
    }
}